@model Hotel_Core_MVC_V1.Models.MsRoomFeature

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MsRoomFeature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rmfeaturecde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rmfeaturecde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rmfeaturedesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rmfeaturedesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Rmfeatureid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
