@model InHouseGuestModels

@{
    ViewData["Title"] = "In-House Guest Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

}
@section scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminlte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/adminlte3/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js for this form -->
    <script src="~/javascript/InHouseGuest.js"></script>
    <script>
        
        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });
    </script>
}

<!-- Room Modal -->
<div class="modal" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Available Rooms</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeRoomModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="roomModalBodyId" class="table-responsive" style="max-height: 600px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default ml-auto" onclick="closeRoomModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Guest Modal -->
<div class="modal" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Guests</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeGuestModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="guestModalBodyId" class="table-responsive" style="max-height: 600px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default ml-auto" onclick="closeGuestModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-6">
                <div class="breadcrumb float-sm-right active">
                    <a asp-action="Index" class="btn btn-default" style="background-color: #31849B;color: white">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="inHouseGuestForm" asp-action="Edit" asp-controller="InHouseGuest">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CheckInModel.RoomLgId" />
                            <input type="hidden" asp-for="CheckInModel.GuestId" />
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.CheckInId" class="col-form-label col-sm-4"></label>
                                        <input id="inputCheckInId" asp-for="CheckInModel.CheckInId" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.CheckInId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Occudte" class="col-form-label col-sm-4"></label>
                                        <input id="inputCheckInDate" type="hidden" asp-for="CheckInModel.Occudte" />
                                        <input asp-for="CheckInModel.StringArriveDte" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.Occudte" class="text-danger"></span>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Nightqty" class="col-form-label col-sm-4"></label>
                                        <input id="inputNightQty" asp-for="CheckInModel.Nightqty" class="form-control col-sm-7" min="0" oninput="calculateCheckOutDate()" readonly/>
                                        <span asp-validation-for="CheckInModel.Nightqty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Departdte" class="col-form-label col-sm-4"></label>
                                        <input id="inputCheckOutDate" type="hidden" asp-for="CheckInModel.Departdte" />
                                        <input asp-for="CheckInModel.StringDepartDte" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.Departdte" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Rmtypdesc" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.Rmtypdesc" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.Rmtypdesc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.PaxNo" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.PaxNo" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.PaxNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Adultqty" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.Adultqty" min="0" class="form-control col-sm-7" />
                                        <span asp-validation-for="CheckInModel.Adultqty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Childqty" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.Childqty" min="0" class="form-control col-sm-7" />
                                        <span asp-validation-for="CheckInModel.Childqty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-4">Room Rate</label>
                                        <div class="col-sm-7">
                                            <select id="selectRmRate" asp-for="CheckInModel.Rmrateid" class="form-control" asp-items="ViewBag.Rmrates" style="width: 100%;" onchange="changeAmount()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Rmprice" class="col-form-label col-sm-4"></label>
                                        <input id="inputRmprice" asp-for="CheckInModel.Rmprice" min="0" step="0.01" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="CheckInModel.Rmprice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Extrabedqty" class="col-form-label col-sm-4"></label>
                                        <input id="inputExtrabedqty" asp-for="CheckInModel.Extrabedqty" min="0" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="CheckInModel.Extrabedqty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Extrabedprice" class="col-form-label col-sm-4"></label>
                                        <input id="inputExtrabedprice" asp-for="CheckInModel.Extrabedprice" min="0" step="0.01" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="CheckInModel.Extrabedprice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Discountamt" class="col-form-label col-sm-4"></label>
                                        <input id="inputDiscountamt" asp-for="CheckInModel.Discountamt" min="0" step="0.01" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="CheckInModel.Discountamt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Amt" class="col-form-label col-sm-4"></label>
                                        <input id="inputAmt" asp-for="CheckInModel.Amt" min="0" step="0.01" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.Amt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Remark" class="col-form-label col-sm-4"></label>
                                        <textarea asp-for="CheckInModel.Remark" class="form-control col-sm-7">
                                            </textarea>
                                        <span asp-validation-for="CheckInModel.Remark" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.ContactName" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.ContactName" type="text" class="form-control col-sm-7" readonly>
                                        <span asp-validation-for="CheckInModel.ContactName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.ContactNo" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.ContactNo" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="CheckInModel.ContactNo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.SpecialInstruct" class="col-form-label col-sm-4"></label>
                                        <input asp-for="CheckInModel.SpecialInstruct" class="form-control col-sm-7" readonly/>
                                        <span asp-validation-for="CheckInModel.SpecialInstruct" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="CheckInModel.Roomno" class="col-form-label col-sm-4"></label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-default" style="background-color: #31849B;color: white" onclick="chooseRoom('@Model.CheckInModel.RoomLgId','@Model.CheckInModel.RmtypId')">Choose</button>
                                                </div>
                                                <input id="inputRoomNo" asp-for="CheckInModel.Roomno" type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CheckInModel.Roomno" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-4">Guests</label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-3">
                                                <button type="button" class="btn btn-default" style="background-color: #31849B;color: white" onclick="chooseGuest('@Model.CheckInModel.CheckInId')">Browse</button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <table id="guestDetailsTable" class="table table-bordered table-hover">
                                                <thead class="text-md-center">
                                                    <tr style="font-size: 14px;text-align: left">
                                                        <th style="text-align: center">
                                                            No.
                                                        </th>
                                                        <th>
                                                            Full Name
                                                        </th>
                                                        <th>
                                                            P Flag
                                                        </th>
                                                        <th style="text-align: center">
                                                            Action
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody id="guestDetailsTableBody" class="text-md-left">
                                                    @foreach (var guest in Model.CheckInGuestList)
                                                    {
                                                        <tr style="font-size: 14px">
                                                            <td style="padding: 5px;text-align: center">@guest.No</td>
                                                            <td style="display: none">@guest.Saluteid</td>
                                                            <td style="padding: 5px">@guest.Guestfullnme</td>
                                                            <td style="display: none">@guest.Guestlastnme</td>
                                                            <td style="display: none">@guest.Idppno</td>
                                                            <td style="display: none">@guest.Idissuedte</td>
                                                            <td style="display: none">@guest.Dob</td>
                                                            <td style="display: none">@guest.Countryid</td>
                                                            <td style="display: none">@guest.Stateid</td>
                                                            <td style="display: none">@guest.Nationid</td>
                                                            <td style="display: none">@guest.Vipflg</td>
                                                            <td style="display: none">@guest.Emailaddr</td>
                                                            <td style="display: none">@guest.Phone1</td>
                                                            <td style="display: none">@guest.Phone2</td>
                                                            <td style="display: none">@guest.Crlimitamt</td>
                                                            <td style="display: none">@guest.Remark</td>
                                                            <td style="display: none">@guest.Gender</td>
                                                            <td style="display: none">@guest.Guestid</td>
                                                            <td style="padding: 5px;text-align: center">
                                                                <input type="checkbox" value="@guest.PrincipleFlg" @if(guest.PrincipleFlg) { <text>checked</text> }/> 
                                                            </td>
                                                            <td style="display: none">@guest.LastVistedDate</td>
                                                            <td style="display: none">@guest.VisitCount</td>
                                                            <td style="padding: 5px; color: red; text-align: center; cursor: pointer; " onclick="deleteRow(this);changeNumberColumn();">Remove</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" style="background-color: #31849B;color: white" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


