@model IEnumerable<Hotel_Core_MVC_V1.Models.HotelInfoModel>

@{
    ViewData["Title"] = "Hotel Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

}

@section scripts
    {
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminlte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": [{
                    extend: 'copy',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2], // Only first 3 columns
                    }
                },
                {
                    extend: 'excel',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2],
                    }
                },
                {
                    extend: 'pdf',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2],
                    }
                },
                {
                    extend: 'print',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2],
                    }
                }, "colvis"],
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-sm-6">
                <div class="breadcrumb float-sm-right active">
                    <a asp-action="Create">Create New  <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hotelnme)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.areaid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tspid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hoteldte)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.phone1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.checkintime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.latecheckintime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.autopostflg)
                                    </th>
                                    <th >
                                        @Html.DisplayNameFor(model => model.autoposttime)
                                    </th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.hotelnme)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.area)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tsp)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.address)
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(item.hoteldte).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.phone1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.checkintime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.latecheckintime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.autopostflg)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.autoposttime)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.cmpyid">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.cmpyid">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.cmpyid">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
