@model PmsRoomledger

@{
    ViewData["Title"] = "Room Transfer/Upgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

}
@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminlte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/adminlte3/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js for this form -->
    <script src="~/javascript/TransferUpgrade.js"></script>
    <script>
        $(function () {
            $("#inHouseGuestTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "ordering": true, "paging": false, "info": false,
            }).buttons().container().appendTo('#inHouseGuestTable_wrapper .col-md-6:eq(0)');;
        });

        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

    </script>
}

<!-- In House Room Modal -->
<div class="modal" id="inHouseRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content table-responsive" style="max-height: 600px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">In-House Rooms</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeInHouseRoomModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="inHouseRoomModalBodyId">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12 table-responsive mt-2">
                            <table id="inHouseGuestTable" class="table table-hover table-bordered datatable dtr-inline" aria-describedby="inHouseGuestTable_info">
                                <thead>
                                    <tr class="p-0" style="font-size: 16px;text-align: left">
                                        <th>
                                            No.
                                        </th>
                                        <th>
                                            Room No.
                                        </th>
                                        <th>
                                            Guest Name
                                        </th>
                                        <th>
                                            Room Type
                                        </th>
                                        <th>
                                            Room Price
                                        </th>
                                        <th>
                                            Ex-Bed
                                        </th>
                                        <th>
                                            Ex-Bed Price
                                        </th>
                                        <th>
                                            Discount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CheckInModel ledger in ViewBag.inHouseRooms)
                                    {
                                        <tr style="font-size: 14px;cursor: pointer" onclick="chooseInHouseRoom('@ledger.RoomLgId')">
                                            <td style="text-align: center">@Html.DisplayFor(modelItem => ledger.No)</td>
                                            <td style="text-align: center">@Html.DisplayFor(modelItem => ledger.Roomno)</td>
                                            <td style="text-align: left">@Html.DisplayFor(modelItem => ledger.GuestName)</td>
                                            <td style="text-align: left">@Html.DisplayFor(modelItem => ledger.Rmtypdesc)</td>
                                            <td style="text-align: right">@Html.DisplayFor(modelItem => ledger.Rmprice)</td>
                                            <td style="text-align: center">@Html.DisplayFor(modelItem => ledger.Extrabedqty)</td>
                                            <td style="text-align: right">@Html.DisplayFor(modelItem => ledger.Extrabedprice)</td>
                                            <td style="text-align: right">@Html.DisplayFor(modelItem => ledger.Discountamt)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modelCloseBtnId" type="button" class="btn btn-default" onclick="closeInHouseRoomModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Available Room Modal -->
<div class="modal" id="availableRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content table-responsive" style="max-height: 600px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Available Rooms</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeAvailableRoomModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="availableRoomModalBodyId">
            </div>
            <div class="modal-footer">
                <button id="modelCloseBtnId" type="button" class="btn btn-default" onclick="closeAvailableRoomModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>@ViewData["Title"]</h4>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="TransferUpgradeForm" asp-action="Index" asp-controller="TransferUpgrade" method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="control-label">Old Room</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-12 ">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Room No.</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button type="button" class="btn btn-default" style="background-color: #31849B;color: white" onclick="openInHouseRoomModal()" autofocus>Choose</button>
                                                            </div>
                                                            <input id="inputRoomNo" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-form-label col-sm-4">Guest Name</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputGuestName" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Check-in ID</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputCheckInId" asp-for="Checkinid" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Arrive Date</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputArriveDate" type="text" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Departure Date</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputDepartureDate" type="text" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Old Room Price</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputOldRoomPrice" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Extra Bed Qty</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputExBedQty" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Extra Bed Price</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputExBedPrice" class="form-control" readonly />
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Discount Amount</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputDiscountAmt" class="form-control" readonly />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="control-label">New Room</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-12">
                                                <input type="hidden" id="hiddenRoomLgId" asp-for="Roomlgid" />
                                                <input type="hidden" id="hiddenRmTypId" asp-for="Rmtypid" />
                                                <input type="hidden" id="hiddenRmRateid" asp-for="Rmrateid" />
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Room No.</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button type="button" class="btn btn-default" style="background-color: #31849B;color: white" onclick="openAvailableRoomModal()">Choose</button>
                                                            </div>
                                                            <input id="inputNewRoomNo" asp-for="Roomno" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">New Room Price</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputNewRoomPrice" asp-for="Price" class="form-control" />
                                                        <span asp-validation-for="Price" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Extra Bed Qty</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputNewExBedQty" asp-for="Extrabedqty" type="number" class="form-control" />
                                                        <span asp-validation-for="Extrabedqty" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Extra Bed Price</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputNewExBedPrice" asp-for="Extrabedprice" class="form-control" />
                                                        <span asp-validation-for="Extrabedprice" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-4">Discount Amount</label>
                                                    <div class="col-sm-7">
                                                        <input id="inputNewDiscountAmt" asp-for="Discountamt" class="form-control" />
                                                        <span asp-validation-for="Discountamt" class="text-danger"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="mode" value="Transfer" class="btn btn-default m-2" style="background-color: #31849B;color: white" />
                                                or
                                                <input type="submit" name="mode" value="Upgrade" class="btn btn-default m-2" style="background-color: #31849B;color: white" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


